<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <startup>
    
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  
  </startup>
  
  <!-- Db Settings-->
  <connectionStrings>
    
    <add name="MainDatabase" connectionString="Database=Arcor;Server=DESKTOP-A2PBAKP\SQLEXPRESS;user id=santi;pwd=maradona;" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>
  
  <!-- App Settings-->
  <appSettings>
    
    <!-- Main settings -->
    <add key="User" value="santiwagner9@gmail.com"/>
    <add key="Password" value="maradona10"/>
    <add key="Interval" value="1"/> <!-- Interval in minutes -->
    <add key="EnableTestMode" value="true"/>
    
    <!-- Production-mode settings-->
    <add key="Host" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="From" value="info@secondi.com"/>
    <add key="FromName" value="Estudio Secondi"/>
    
    <!-- Test-mode settings -->
    <add key="TestMode_Host" value="smtp.gmail.com"/>
    <add key="TestMode_Port" value="587"/>
    <add key="TestMode_From" value="info@testing.com"/>
    <add key="TestMode_To" value="santiwagner9@gmail.com"/>
    <add key="TestMode_FromName" value="Santi Test"/>
    
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>